<section class="container mx-auto flex flex-col h-full">

    <div class="flex-1  pt-5 px-5">

        <div class="flex items-center gap-5 ">
            <h1 class="text-1xl font-bold">Listado de tipos de gaceta</h1>
            <h3 class="text-lg">
                Total
                <span class="text-accent">
                    {{ tipoGacetaResource.value()?.length ?? 0 }}
                </span>
            </h3>

            <button class="btn btn-primary" (click)="openNewModal()">
                Agregar Tipo
            </button>
        </div>
        <div class="divider p-0 m-0"></div>

        <div class="overflow-x-auto">
            <table class="table">
                <!-- head -->
                <thead>
                    <tr>

                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    @for (tipo of tipoGacetaResource.value(); track tipo._id) {

                    <tr>
                        <td>
                            <div class="flex items-center gap-3">

                                {{ tipo.nombre }}
                            </div>
                        </td>
                        <td>
                            {{ tipo.description }}
                        </td>

                        <th>
                            <button class="btn btn-ghost btn-circle  btn-xs text-info lg:tooltip" data-tip="Editar"
                                (click)="openEditModal(tipo)">
                                <div class="indicator">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="size-6">
                                        <path
                                            d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                                        <path
                                            d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                                    </svg>
                                </div>
                            </button>

                            <button class="btn btn-ghost btn-circle  btn-xs text-secondary lg:tooltip" data-tip="Eliminar"
                                (click)="eliminarTipo(tipo)">
                                <div class="indicator">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="size-6">
                                        <path fill-rule="evenodd"
                                            d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                                            clip-rule="evenodd" />
                                    </svg>

                                </div>
                            </button>

                        </th>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<dialog id="tipo_gaceta_modal" class="modal">

    <div class="modal-box max-w-4xl">

        <h3 class="font-bold text-2xl mb-4">

            @if(selectedTipoGacetaId() === 'new') {

            Nuevo Tipo de Gaceta

            } @else {

            Editar Tipo de Gaceta

            }

        </h3>

        <form [formGroup]="tipoGacetaForm" (ngSubmit)="onSubmit()">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <div>
                    <label class="floating-label">
                        <input id="nombre" type="text" placeholder="Nombre" class="input input-bordered w-full"
                            formControlName="nombre" [class.input-error]="getFieldError('nombre')" />
                        <form-error-label [errorMessage]="getFieldError('nombre')" />
                        <span>Tipo de Gaceta</span>
                    </label>
                </div>

                <div>

                    <label class="floating-label">
                        <input id="description" type="text" placeholder="Descripción"
                            class="input input-bordered w-full" formControlName="description"
                            [class.input-error]="getFieldError('description')" />
                        <form-error-label [errorMessage]="getFieldError('description')" />
                        <span>Descripción</span>
                    </label>
                </div>

            </div>

            <div class="modal-action">

                <button type="button" class="btn btn-secondary" onclick="tipo_gaceta_modal.close()">

                    Cancelar

                </button>

                <button type="submit" class="btn btn-success" [disabled]="isPosting()">

                    @if(isPosting()) {

                    <span class="loading loading-spinner loading-sm">
                    </span>

                    Guardando...

                    } @else {

                    Guardar

                    }

                </button>

            </div>

        </form>

    </div>

    <form method="dialog" class="modal-backdrop">

        <button>
            cerrar
        </button>

    </form>


</dialog>

@if (wasSaved()) {
<div class="toast toast-end toast-top z-50">
    <div class="alert alert-success">
        <span>{{ successMessage() }}</span>
    </div>
</div>
}