<section
class="hero min-h-screen relative">

    <img
    src="assets/images/hero/GAMB1.jpg"
    class="absolute inset-0 w-full h-full object-cover"/>

    <div class="absolute inset-0 bg-black/55"></div>

    <div
    class="hero-content text-center text-white relative">

        <div class="max-w-3xl">

            <div
            class="badge badge-success badge-lg mb-6">

                Plataforma Institucional

            </div>

            <h1
            class="text-5xl font-black">

                BIENVENIDO (A) A OFICINA VIRTUAL

            </h1>

            <h2
            class="text-4xl font-semibold mt-4">

                GOBIERNO ELECTRÓNICO

            </h2>

            <p
            class="mt-8 text-xl opacity-90">

                Plataforma tecnológica que integra todos los
                sistemas del Gobierno Autónomo Municipal
                de Betanzos.

            </p>

            <div
            class="mt-10">

                <button routerLink="/auth/login"
                class="btn btn-success btn-lg">

                    Ingresar al Sistema

                </button>

            </div>

        </div>

    </div>

</section>
