<div class="flex-1">

    <div class="flex items-center gap-5 ">
        <h1 class="text-1xl font-bold">Registro Hojas de Ruta</h1>
        <h3 class="text-lg">
            Total
            <span class="text-accent">{{ hojaRutaResource.value()?.total }}</span>
        </h3>
    </div>

    <div class="flex gap-2 items-center h-15 p-0 m-0">


        <select class="select select-bordered w-20" (change)="hojaRutaPerPage.set(+selectPerPage.value)" #selectPerPage>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>

        <div class="flex flex-1"></div>

        <button class="btn btn-info text-cyan-50 p-1" (click)="openNewModal()">
            + Registrar Nuevo
        </button>
    </div>
    <div class="divider p-0 m-0"></div>

    <div class="overflow-x-auto mt-0">
        <table class="table table-zebra ">
            <!-- head -->
            <thead>
                <tr class="text-center">
                    <!-- <th>
                        <label>
                            <input type="checkbox" class="checkbox" />
                        </label>
                    </th> -->
                    <th>Nº H-R</th>
                    <th>Orígen</th>
                    <th>Referencia</th>
                    <th class="w-10">Fecha de Recepción</th>
                    <th>Nº de Cite</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- row 1 -->
                @for (hr of hojaRutaResource.value()?.hojaRutas; track hr._id) {

                <tr>
                    <!-- <th>
                        <label>
                            <input type="checkbox" class="checkbox" />
                        </label>
                    </th> -->
                    <td>
                        <div class="flex items-center gap-3">
                            <div class="items-center cursor-pointer" (click)="openSeguiModal(hr)">
                                <div class=" text-accent">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-10">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                                    </svg>


                                </div>
                            </div>
                            <div class="text-center">
                                <a [routerLink]="['/hrs', hr._id]"
                                    class="font-bold hover:text-accent transition-colors duration-300">{{ hr.numero
                                    }}</a>
                                <div class="text-xs opacity-50">
                                    {{ hr.tipoOrigen }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ hr.origen }}
                    </td>
                    <td>
                        {{ hr.referencia }}
                    </td>
                    <td class="w-10">
                        {{ hr.fechaRecepcion | date : 'medium' }}
                    </td>
                    <td>
                        {{ hr.prioridad}}
                    </td>
                    <td>

                        @switch (hr.estado) {

                        @case ('REGISTRADO') {
                        <button class="btn btn-xs btn-warning" (click)="changeStatus(hr)">
                            REGISTRADO
                        </button>
                        }

                        @case ('RECIBIDO') {
                        <span class="badge badge-success">
                            RECIBIDO
                        </span>
                        }

                        @case ('ENVIADO') {
                        <span class="badge badge-info">
                            ENVIADO
                        </span>
                        }

                        @case ('ANULADO') {
                        <span class="badge badge-error">
                            ANULADO
                        </span>
                        }

                        @default {
                        <span class="badge">
                            {{ hr.estado }}
                        </span>
                        }

                        }

                    </td>
                    <th>

                        <a (click)="printHojaRuta(hr)" class="btn btn-ghost text-accent btn-xs">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0 1 10.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0 .229 2.523a1.125 1.125 0 0 1-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0 0 21 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 0 0-1.913-.247M6.34 18H5.25A2.25 2.25 0 0 1 3 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 0 1 1.913-.247m10.5 0a48.536 48.536 0 0 0-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5Zm-3 0h.008v.008H15V10.5Z" />
                            </svg>
                        </a>

                        @if (hr.estado === 'RECIBIDO') {

                        <a [routerLink]="['/hojaRuta/enviar', hr._id]" class="btn btn-ghost text-accent btn-xs">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                            </svg>
                        </a>

                        }

                    </th>
                </tr>
                }
            </tbody>
        </table>
        <app-pagination [pages]="hojaRutaResource.value()?.pages ?? 0" [currentPage]="currentPage()" />
    </div>
</div>

<!-- <pre>
    {{hRutaForm.value | json }}
</pre> -->

<dialog id="hRuta_modal" class="modal">

    <div class="modal-box max-w-4xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <h3 class="font-bold text-2xl ">

            @if(selectedHRId() === 'new') {

            Nuevo Hoja de Ruta Nº <samp class="text-2xl">{{ (hojaRutaResource.value()?.total ?? 0) + 1 }}</samp>

            } @else {

            Editar Registro

            }

        </h3>

        <form [formGroup]="hRutaForm" (ngSubmit)="onSubmit()">

            <div class="flex items-center justify-evenly">
                <div class="join mb-1">
                    <input class="join-item btn" type="radio" formControlName="tipoOrigen" value="INTERNO"
                        aria-label="Interno" />

                    <input class="join-item btn" type="radio" formControlName="tipoOrigen" value="EXTERNO"
                        aria-label="Externo" />
                </div>
                <div>
                    <fieldset class="fieldset flex gap-4">

                        <label class="cursor-pointer flex items-center gap-2">
                            <input type="radio" class="radio radio-sm radio-success" formControlName="prioridad"
                                value="NORMAL">
                            <span class="text-success font-medium">Normal</span>
                        </label>

                        <label class="cursor-pointer flex items-center gap-2">
                            <input type="radio" class="radio radio-sm radio-error" formControlName="prioridad"
                                value="URGENTE">
                            <span class="text-error font-medium">Urgente</span>
                        </label>

                    </fieldset>
                </div>

            </div>

            @if(hRutaForm.get('tipoOrigen')?.value === 'INTERNO') {

            <div class="my-1">
                <select class="select select-bordered w-full" formControlName="idOrigen">
                    <option value="" disabled>
                        Seleccione a un funcionario
                    </option>

                    @for (user of usersResource.value()?.users; track user._id) {
                    <option [value]="user._id">
                        {{ user.nombre }} {{ user.apellidos }}
                    </option>
                    }
                </select>
            </div>

            } @else {

            <div class="my-1">
                <input type="text" placeholder="Orígen" class="input input-bordered w-full" formControlName="origen"
                    [class.input-error]="getFieldError('origen')" />

                <form-error-label [errorMessage]="getFieldError('origen')" />
            </div>
            }


            <div class="w-full my-1">
                <textarea class="textarea textarea-bordered w-full min-h-20" placeholder="Referencia"
                    formControlName="referencia" [class.input-error]="getFieldError('referencia')"></textarea>
                <form-error-label [errorMessage]="getFieldError('referencia')" />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <div>

                    <input type="date" placeholder="Fecha del Documento" class="input input-bordered w-full"
                        formControlName="fechaDocumento" [class.input-error]="getFieldError('fechaDocumento')" />


                    <form-error-label [errorMessage]="getFieldError('fechaDocumento')" />
                </div>

                <div>

                    <input type="text" placeholder="Contacto" class="input input-bordered w-full"
                        formControlName="contactoOrigen" [class.input-error]="getFieldError('contactoOrigen')" />
                    <form-error-label [errorMessage]="getFieldError('contactoOrigen')" />

                </div>

                <div>
                    <select class="select select-bordered w-full" placeholder="Selecciona tipo de Documento"
                        formControlName="tipoDocumento" [class.input-error]="getFieldError('tipoDocumento')">
                        <option value="" disabled selected>Selecciona tipo de Documento</option>
                        <option value="NORMAL">NORMAL</option>
                        <option value="PAGO">PAGO</option>
                        <option value="CATASTRO">CATASTRO</option>
                        <option value="OTRO">OTRO</option>
                    </select>
                    <form-error-label [errorMessage]="getFieldError('tipoDocumento')" />

                </div>

                @if(hRutaForm.get('tipoDocumento')?.value === 'PAGO') {

                <div>

                    <input type="text" placeholder="Beneficiario" class="input input-bordered w-full"
                        formControlName="beneficiarioPago" [class.input-error]="getFieldError('beneficiarioPago')" />

                    <form-error-label [errorMessage]="getFieldError('beneficiarioPago')" />

                </div>

                }

            </div>

            <div class="modal-action">

                <button type="button" class="btn btn-secondary" onclick="hRuta_modal.close()">

                    Cancelar

                </button>

                <button type="submit" class="btn btn-success" [disabled]="isPosting()">

                    @if(isPosting()) {

                    <span class="loading loading-spinner loading-sm">
                    </span>

                    Guardando...

                    } @else {

                    Guardar

                    }

                </button>

            </div>

        </form>

    </div>

    <!--  <form method="dialog" class="modal-backdrop">

        <button>
            cerrar
        </button>

    </form> -->


</dialog>

<dialog id="segui_modal" class="modal">

    <div class="modal-box max-w-5xl">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        @if(selectedHrResource.value(); as hr){

        <h3 class="font-bold text-lg mb-4">
            Hoja de Ruta Nº {{ hr.numero }}
        </h3>

        <div class="grid grid-cols-2 gap-4 mb-6">

            <div>
                <span class="font-semibold">Origen:</span>
                {{ hr.origen }}
            </div>

            <div>
                <span class="font-semibold">Estado:</span>
                {{ hr.estado }}
            </div>

            <div>
                <span class="font-semibold">Referencia:</span>
                {{ hr.referencia }}
            </div>

            <div>
                <span class="font-semibold">Prioridad:</span>
                {{ hr.prioridad }}
            </div>

            <div>
                <span class="font-semibold">Tipo Documento:</span>
                {{ hr.tipoDocumento }}
            </div>

            <div>
                <span class="font-semibold">Fecha:</span>
                {{ hr.fechaRecepcion | date:'dd/MM/yyyy HH:mm' }}
            </div>

        </div>
        <div class="divider"></div>
        <h4 class="font-semibold mb-2">
            Historial de Seguimientos
        </h4>

        <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical timeline-vertical-reverse">

            @for(segui of hr.seguimientos; track segui._id; let i = $index){

            <li>

                @if(i > 0){
                <hr />
                }

                <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>

                @if(i % 2 === 0){

                <div class="timeline-start mb-10 md:text-end">
                    <div class="badge badge-info">
                        ENVIADO
                    </div>
                    <time class="font-mono italic">
                        {{ segui.fechaDerivado | date:'dd/MM/yyyy HH:mm' }}
                    </time>
                    @if(segui.idSubUnidadOrigen) {
                    <div>
                        <div class="font-bold">{{segui.idSubUnidadOrigen.nombre}}</div>
                        <div class="text-sm opacity-50">{{segui.origenUser.nombre}} {{segui.origenUser.apellidos}}</div>
                        <div class="font-bold opacity-80">{{segui.idSubUnidadOrigen.cargo}}</div>
                    </div>
                    }
                    @if(segui.idUnidadFuncOrigen) {
                    <div>
                        <div class="font-bold">{{segui.idUnidadFuncOrigen.nombre}}</div>
                        <div class="text-sm opacity-50">{{segui.origenUser.nombre}} {{segui.origenUser.apellidos}}</div>
                        <div class="font-bold opacity-80">{{segui.idUnidadFuncOrigen.cargo}}</div>
                    </div>
                    }
                    @if(segui.idUnidadOrgOrigen) {
                    <div>
                        <div class="font-bold">{{segui.idUnidadOrgOrigen.nombre}}</div>
                        <div class="text-sm opacity-50">{{segui.origenUser.nombre}} {{segui.origenUser.apellidos}}</div>
                        <div class="font-bold opacity-80">{{segui.idUnidadOrgOrigen.cargo}}</div>
                    </div>
                    }

                    <div class="card  shadow-md w-full p-0 bg-accent/10">

                        <div class="card-body p-1">
                            <div class="flex items-center gap-2 mb-2">



                                @if(segui.estado === 'ENVIADO'){

                                <div class="badge badge-error gap-2">
                                    SIN RECIBIR
                                </div>

                                }

                                @if(segui.estado !== 'ENVIADO' && segui.fechaRecepcion){

                                <div class="badge badge-success gap-2">
                                    RECIBIDO
                                </div>

                                <div class="badge badge-outline gap-2">

                                    {{ segui.fechaRecepcion | date:'dd/MM/yyyy HH:mm' }}

                                    |
                                    {{ getTiempoPendiente(segui.fechaRecepcion) }}

                                </div>
                                }



                            </div>

                            @if(segui.idSubUnidadDest) {
                            <div>
                                <div class="font-bold">{{segui.idSubUnidadDest.nombre}}</div>
                                <div class="text-sm opacity-50">{{segui.origenUser.nombre}}
                                    {{segui.origenUser.apellidos}}</div>
                                <div class="font-bold opacity-80">{{segui.idSubUnidadDest.cargo}}</div>
                            </div>
                            }
                            @if(segui.idUnidadFuncDest) {
                            <div>
                                <div class="font-bold">{{segui.idUnidadFuncDest.nombre}}</div>
                                <div class="text-sm opacity-50">{{segui.origenUser.nombre}}
                                    {{segui.origenUser.apellidos}}</div>
                                <div class="font-bold opacity-80">{{segui.idUnidadFuncDest.cargo}}</div>
                            </div>
                            }
                            @if(segui.idUnidadOrgDest) {
                            <div>
                                <div class="font-bold">{{segui.idUnidadOrgDest.nombre}}</div>
                                <div class="text-sm opacity-50">{{segui.origenUser.nombre}}
                                    {{segui.origenUser.apellidos}}</div>
                                <div class="font-bold opacity-80">{{segui.idUnidadOrgDest.cargo}}</div>
                            </div>
                            }

                            <h2 class="font-bold">
                                {{
                                typeof segui.destinoUser === 'string'
                                ? segui.destinoUser
                                : segui.destinoUser.nombre + ' ' + segui.destinoUser.apellidos
                                }}
                            </h2>

                            <p>{{ segui.detalle }}</p>

                            <div class="flex-end items-center gap-2 mb-2">

                                @switch(segui.estado){

                                @case('ENVIADO'){

                                <div class="badge badge-error gap-2">
                                    SIN RECIBIR
                                </div>
                                }

                                @case('RECIBIDO'){

                                <div class="badge badge-success gap-2">
                                    RECIBIDO
                                </div>
                                }

                                @case('DERIVADO'){

                                <div class="badge badge-warning gap-2">
                                    DERIVADO
                                </div>
                                }

                                @default{

                                <div class="badge badge-neutral gap-2">
                                    {{ segui.estado }}
                                </div>

                                }

                                }

                            </div>

                        </div>

                    </div>

                </div>

                } @else {

                <div class="timeline-end mb-3">
                    <div class="badge badge-info">
                        ENVIADO
                    </div>
                    <time class="font-mono italic">
                        {{ segui.fechaDerivado | date:'dd/MM/yyyy HH:mm' }}
                    </time>
                    @if(segui.idSubUnidadOrigen) {
                    <div>
                        <div class="font-bold">{{segui.idSubUnidadOrigen.nombre}}</div>
                        <div class="text-sm opacity-50">{{segui.origenUser.nombre}} {{segui.origenUser.apellidos}}</div>
                        <div class="font-bold opacity-80">{{segui.idSubUnidadOrigen.cargo}}</div>
                    </div>
                    }
                    @if(segui.idUnidadFuncOrigen) {
                    <div>
                        <div class="font-bold">{{segui.idUnidadFuncOrigen.nombre}}</div>
                        <div class="text-sm opacity-50">{{segui.origenUser.nombre}} {{segui.origenUser.apellidos}}</div>
                        <div class="font-bold opacity-80">{{segui.idUnidadFuncOrigen.cargo}}</div>
                    </div>
                    }
                    @if(segui.idUnidadOrgOrigen) {
                    <div>
                        <div class="font-bold">{{segui.idUnidadOrgOrigen.nombre}}</div>
                        <div class="text-sm opacity-50">{{segui.origenUser.nombre}} {{segui.origenUser.apellidos}}</div>
                        <div class="font-bold opacity-80">{{segui.idUnidadOrgOrigen.cargo}}</div>
                    </div>
                    }

                    <div class="card  shadow-md w-full p-0 bg-accent/10">

                        <div class="card-body p-1">
                            <div class="flex items-center gap-2 mb-2">


                                @if(segui.estado === 'ENVIADO'){

                                <div class="badge badge-error gap-2">
                                    SIN RECIBIR
                                </div>

                                }

                                @if(segui.estado !== 'ENVIADO' && segui.fechaRecepcion){

                                <div class="badge badge-success gap-2">
                                    RECIBIDO
                                </div>

                                <div class="badge badge-outline gap-2">

                                    {{ segui.fechaRecepcion | date:'dd/MM/yyyy HH:mm' }}

                                    |
                                    {{ getTiempoPendiente(segui.fechaRecepcion) }}

                                </div>
                                }


                            </div>

                            @if(segui.idSubUnidadDest) {
                            <div>
                                <div class="font-bold">{{segui.idSubUnidadDest.nombre}}</div>
                                <div class="text-sm opacity-50">{{segui.origenUser.nombre}}
                                    {{segui.origenUser.apellidos}}</div>
                                <div class="font-bold opacity-80">{{segui.idSubUnidadDest.cargo}}</div>
                            </div>
                            }
                            @if(segui.idUnidadFuncDest) {
                            <div>
                                <div class="font-bold">{{segui.idUnidadFuncDest.nombre}}</div>
                                <div class="text-sm opacity-50">{{segui.origenUser.nombre}}
                                    {{segui.origenUser.apellidos}}</div>
                                <div class="font-bold opacity-80">{{segui.idUnidadFuncDest.cargo}}</div>
                            </div>
                            }
                            @if(segui.idUnidadOrgDest) {
                            <div>
                                <div class="font-bold">{{segui.idUnidadOrgDest.nombre}}</div>
                                <div class="text-sm opacity-50">{{segui.origenUser.nombre}}
                                    {{segui.origenUser.apellidos}}</div>
                                <div class="font-bold opacity-80">{{segui.idUnidadOrgDest.cargo}}</div>
                            </div>
                            }

                            <h2 class="font-bold">
                                {{
                                typeof segui.destinoUser === 'string'
                                ? segui.destinoUser
                                : segui.destinoUser.nombre + ' ' + segui.destinoUser.apellidos
                                }}
                            </h2>

                            <p>{{ segui.detalle }}</p>

                            <div class="flex-end items-center gap-2 mb-2">

                                @switch(segui.estado){

                                @case('ENVIADO'){

                                <div class="badge badge-error gap-2">
                                    SIN RECIBIR
                                </div>
                                }

                                @case('RECIBIDO'){

                                <div class="badge badge-success gap-2">
                                    RECIBIDO
                                </div>
                                }

                                @case('DERIVADO'){

                                <div class="badge badge-warning gap-2">
                                    DERIVADO
                                </div>
                                }

                                @default{

                                <div class="badge badge-neutral gap-2">
                                    {{ segui.estado }}
                                </div>

                                }

                                }

                            </div>

                        </div>

                    </div>

                </div>

                }

                <hr />

            </li>

            }

        </ul>
        }

        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Cerrar</button>
            </form>
        </div>

    </div>
</dialog>