<div class="flex-1  pt-5 px-5">

    <div class="flex items-center gap-5 ">
        <h1 class="text-1xl font-bold">Listado de organizaciones</h1>
        <h3 class="text-lg">
            Total
            <span class="text-accent">
                {{ orgsResource.value()?.length ?? 0 }}
            </span>
        </h3>

        <button class="btn btn-primary" (click)="openNewModal()">
            Agregar organización
        </button>
    </div>
    <div class="divider p-0 m-0"></div>



    <div class="space-y-3">

        @for (org of orgsResource.value() ?? []; track org._id) {

        <div class="collapse collapse-arrow bg-base-100 border border-base-300 shadow-sm p-0">

            <input type="radio" name="organizaciones" />

            <div class="collapse-title">

                <div class="flex justify-between items-center">

                    <div>
                        <h2 class="font-bold text-lg">
                            {{ org.nombre }}
                        </h2>
                        <div class="divider my-1">
                            <p class="text-sm opacity-70">
                                <span class="font-semibold">Sigla:</span> {{ org.sigla }}
                            </p>
                            <p class="text-sm opacity-70">
                                <span class="font-semibold">Código:</span> {{ org.codigo }}
                            </p>
                        </div>
                       <!--  <div>
                            funcionario responsable:
                            <span class="font-semibold">
                                {{ org.persona.nombre }} {{ org.persona.apellidos }}
                            </span>
                        </div> -->
                    </div>

                    <div class="badge badge-primary badge-lg">
                        {{ org.unidadFuncional.length }}
                        Unidad(es)
                    </div>
                </div>

            </div>

            <div class="collapse-content">
                <div class="flex gap-2 mb-2">
                    <label class="flex items-center gap-3">

                        <span class="font-semibold">
                            Estado:
                        </span>

                        <span class="badge" [class.badge-success]="org.isActive" [class.badge-error]="!org.isActive">

                            {{ org.isActive ? 'Activo' : 'Inactivo' }}

                        </span>

                        <input type="checkbox" class="toggle toggle-success" [checked]="org.isActive"
                            (change)="changeStatus(org,$event)" />

                    </label>

                    <div class="flex">

                        <button class="btn btn-circle btn-ghost text-accent lg:tooltip" data-tip="Editar"
                            (click)="openEditModal(org)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="size-6">
                                <path
                                    d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                                <path
                                    d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                            </svg>

                        </button>

                        <button class="btn btn-circle btn-ghost text-error lg:tooltip" data-tip="Eliminar"
                            (click)="deleteOrg(org)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="size-6">
                                <path fill-rule="evenodd"
                                    d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                                    clip-rule="evenodd" />
                            </svg>

                        </button>
                    </div>


                </div>


                <div class="flex justify-between items-center mb-3">

                    <h3 class="font-semibold text-base">
                        Unidades Funcionales
                    </h3>

                    <button class="btn btn-primary btn-sm" (click)="openNewUnidad(org)">
                        + Agregar Unidad
                    </button>

                </div>

                @if(org.unidadFuncional.length > 0){

                <div class="overflow-x-auto card bg-base-100 border border-base-300 shadow-sm">

                    <table class="table table-zebra">

                        <thead>

                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Sigla</th>
                                <th>Dependientes</th>
                                <th>Estado</th>
                                <th class="text-center">Acciones</th>
                            </tr>

                        </thead>

                        <tbody>

                            @for (unidad of org.unidadFuncional; track unidad._id) {

                            <tr>

                                <td>
                                    {{ unidad.codigo }}
                                </td>

                                <td>
                                    {{ unidad.nombre }}
                                </td>

                                <td>
                                    {{ unidad.sigla }}
                                </td>
                                <td>
                                    @if (unidad.subUnidad?.length) {

                                    <div class="flex flex-wrap gap-2">

                                        @for (sub of unidad.subUnidad; track sub._id) {

                                        <div class="btn badge badge-info badge-outline gap-1 py-3 px-3" (click)="openEditCargo(sub)">
                                            <span class="opacity-70">
                                                ({{ sub.codigo }})
                                            </span>
                                            <span class="font-semibold">
                                                {{ sub.nombre }}
                                            </span>
                                            <span class="opacity-70">
                                                ({{ sub.sigla }})
                                            </span>
                                        </div>

                                        }

                                    </div>

                                    } @else {

                                    <span class="text-base-content/50 text-sm">
                                        Sin dependientes
                                    </span>

                                    }
                                </td>

                                <td>

                                    @if(unidad.isActive){

                                    <span class="badge badge-success">
                                        Activo
                                    </span>

                                    } @else {

                                    <span class="badge badge-error">
                                        Inactivo
                                    </span>

                                    }

                                </td>

                                <td>

                                    <div class="flex justify-center gap-2">

                                        <button class="btn btn-circle btn-sm btn-ghost text-info"
                                            (click)="openEditUnidad(unidad)">
                                            ✏️
                                        </button>

                                        <button class="btn btn-circle btn-sm btn-ghost text-error"
                                            (click)="deleteUnidad(unidad)">
                                            🗑️
                                        </button>

                                        <a (click)="openNewCargo(unidad)" class="btn btn-ghost text-accent btn-xs">
                                            +Agregar unidad
                                        </a>

                                    </div>

                                </td>

                            </tr>

                            }

                        </tbody>

                    </table>


                </div>


                } @else {

                <div class="alert">

                    <span>
                        Esta organización no tiene unidades funcionales registradas.
                    </span>

                </div>

                }

            </div>

        </div>

        }

    </div>
</div>

<!-- <pre>
{{subForm.value | json }}
</pre> -->

<dialog id="org_modal" class="modal">

    <div class="modal-box max-w-4xl">

        <h3 class="font-bold text-2xl mb-4">

            @if(selectedOrgId() === 'new') {

            Nueva Organización

            } @else {

            Editar Organización

            }

        </h3>

        <form [formGroup]="orgForm" (ngSubmit)="onSubmit()">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <div>

                    <input type="text" placeholder="Nombre" class="input input-bordered w-full" formControlName="nombre"
                        [class.input-error]="getFieldError('nombre')" />
                    <form-error-label [errorMessage]="getFieldError('nombre')" />

                </div>

                <div>

                    <input type="text" placeholder="Cargo" class="input input-bordered w-full" formControlName="cargo"
                        [class.input-error]="getFieldError('cargo')" />
                    <form-error-label [errorMessage]="getFieldError('cargo')" />

                </div>

                <div>

                    <input type="text" placeholder="Sigla" class="input input-bordered w-full" formControlName="sigla"
                        [class.input-error]="getFieldError('sigla')" />
                    <form-error-label [errorMessage]="getFieldError('sigla')" />

                </div>

                <div>
                    <select class="select select-bordered w-full" formControlName="persona">
                        <option value="" disabled>
                            Seleccione a un funcionario
                        </option>

                        @for (user of usersResource.value()?.users; track user._id) {
                        <option [value]="user._id">
                            {{ user.nombre }} {{ user.apellidos }}
                        </option>
                        }
                    </select>

                    <form-error-label [errorMessage]="getFieldError('persona')" />
                </div>

            </div>

            <div class="modal-action">

                <button type="button" class="btn btn-secondary" onclick="org_modal.close()">

                    Cancelar

                </button>

                <button type="submit" class="btn btn-success" [disabled]="isPosting()">

                    @if(isPosting()) {

                    <span class="loading loading-spinner loading-sm">
                    </span>

                    Guardando...

                    } @else {

                    Guardar

                    }

                </button>

            </div>

        </form>

    </div>

    <form method="dialog" class="modal-backdrop">

        <button>
            cerrar
        </button>

    </form>


</dialog>

<dialog id="unidad_modal" class="modal">

    <div class="modal-box max-w-4xl">

        <h3 class="font-bold text-2xl mb-4">

            @if(selectedUniOrgId() === 'new') {

            Nueva Unidad Funcional

            } @else {

            Editar Unidad Funcional

            }

        </h3>

        <form [formGroup]="unitForm" (ngSubmit)="onSubmitUnidad()">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <div>

                    <input type="text" placeholder="Nombre" class="input input-bordered w-full" formControlName="nombre"
                        [class.input-error]="getFieldError('nombre')" />
                    <form-error-label [errorMessage]="getFieldError('nombre')" />

                </div>

                <div>

                    <input type="text" placeholder="Cargo" class="input input-bordered w-full" formControlName="cargo"
                        [class.input-error]="getFieldError('cargo')" />
                    <form-error-label [errorMessage]="getFieldError('cargo')" />

                </div>

                <div>

                    <input type="text" placeholder="Sigla" class="input input-bordered w-full" formControlName="sigla"
                        [class.input-error]="getFieldError('sigla')" />
                    <form-error-label [errorMessage]="getFieldError('sigla')" />

                </div>

                <div>
                    <select class="select select-bordered w-full" formControlName="persona">
                        <option value="" disabled>
                            Seleccione a un funcionario
                        </option>

                        @for (user of usersResource.value()?.users; track user._id) {
                        <option [value]="user._id">
                            {{ user.nombre }} {{ user.apellidos }}
                        </option>
                        }
                    </select>

                    <form-error-label [errorMessage]="getFieldError('persona')" />
                </div>

            </div>

            <div class="modal-action">

                <button type="button" class="btn btn-secondary" onclick="unidad_modal.close()">

                    Cancelar

                </button>

                <button type="submit" class="btn btn-success" [disabled]="isPostingUni()">

                    @if(isPostingUni()) {

                    <span class="loading loading-spinner loading-sm">
                    </span>

                    Guardando...

                    } @else {

                    Guardar

                    }

                </button>

            </div>

        </form>

    </div>

    <form method="dialog" class="modal-backdrop">

        <button>
            cerrar
        </button>

    </form>


</dialog>

<dialog id="cargo_modal" class="modal">

    <div class="modal-box max-w-4xl">

        <h3 class="font-bold text-2xl mb-4">

            @if(selectedCargoId() === 'new') {

            Nuevo Sub Unidad

            } @else {

            Editar Sub Unidad

            }

        </h3>

        <form [formGroup]="subForm" (ngSubmit)="onSubmitCargo()">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <div>

                    <input type="text" placeholder="Nombre" class="input input-bordered w-full" formControlName="nombre"
                        [class.input-error]="getFieldError('nombre')" />
                    <form-error-label [errorMessage]="getFieldError('nombre')" />

                </div>

                <div>

                    <input type="text" placeholder="Cargo" class="input input-bordered w-full" formControlName="cargo"
                        [class.input-error]="getFieldError('cargo')" />
                    <form-error-label [errorMessage]="getFieldError('cargo')" />

                </div>

                <div>

                    <input type="text" placeholder="Sigla" class="input input-bordered w-full" formControlName="sigla"
                        [class.input-error]="getFieldError('sigla')" />
                    <form-error-label [errorMessage]="getFieldError('sigla')" />

                </div>

                <div>
                    <select class="select select-bordered w-full" formControlName="persona"
                        [class.input-error]="getFieldError('persona')">
                        <option value="" disabled selected>
                            Seleccione a un funcionario
                        </option>

                        @for (user of usersResource.value()?.users; track user._id) {
                        <option [value]="user._id">
                            {{ user.nombre }} {{ user.apellidos }}
                        </option>
                        }
                    </select>

                    <form-error-label [errorMessage]="getFieldError('persona')" />
                </div>

            </div>

            <div class="modal-action">

                <button type="button" class="btn btn-secondary" onclick="cargo_modal.close()">

                    Cancelar

                </button>

                <button type="submit" class="btn btn-success" [disabled]="isPostingCargo()">

                    @if(isPostingCargo()) {

                    <span class="loading loading-spinner loading-sm">
                    </span>

                    Guardando...

                    } @else {

                    Guardar

                    }

                </button>

            </div>

        </form>

    </div>

    <form method="dialog" class="modal-backdrop">

        <button>
            cerrar
        </button>

    </form>


</dialog>

@if (wasError()) {
<div class="toast toast-end toast-top z-50">
    <div class="alert alert-error">
        <span>{{ errorMessage() }}</span>
    </div>
</div>
}

@if (wasSaved()) {
<div class="toast toast-end toast-top z-50">
    <div class="alert alert-success">
        <span>{{ successMessage() }}</span>
    </div>
</div>
}