<footer class="bg-green-900 text-white">


    <!-- CONTENIDO PRINCIPAL -->

    <div
    class="
    container
    mx-auto
    px-4
    py-10
    "
    >



        <div
        class="
        grid
        grid-cols-1
        md:grid-cols-2
        lg:grid-cols-4
        gap-8
        "
        >





        <!-- LOGO / INSTITUCION -->

        <div>


            <div
            class="
            flex
            items-center
            gap-3
            mb-4
            "
            >


                <img

                src="assets/images/logo.png"

                class="
                w-16
                h-16
                "

                >


                <div>


                    <h2 class="font-bold text-lg">

                        Gobierno Autónomo Municipal

                    </h2>


                    <p class="opacity-80">

                        Ckochas

                    </p>


                </div>


            </div>





            <p
            class="
            text-sm
            text-white/80
            leading-relaxed
            "
            >

                Institución comprometida con el desarrollo
                integral, transparente y participativo
                del municipio.

            </p>



        </div>









        <!-- ENLACES INSTITUCIONALES -->


        <div>


            <h3
            class="
            font-bold
            text-lg
            mb-4
            "
            >

                Institución

            </h3>




            <ul
            class="
            space-y-2
            text-sm
            "
            >


                <li>

                    <a
                    routerLink="/historia"
                    class="hover:text-green-300"
                    >

                        Historia

                    </a>

                </li>



                <li>

                    <a
                    routerLink="/mision-vision"
                    class="hover:text-green-300"
                    >

                        Misión y Visión

                    </a>

                </li>




                <li>

                    <a
                    routerLink="/alcalde"
                    class="hover:text-green-300"
                    >

                        Alcalde Municipal

                    </a>

                </li>




                <li>

                    <a
                    routerLink="/organigrama"
                    class="hover:text-green-300"
                    >

                        Organigrama

                    </a>

                </li>


            </ul>



        </div>









        <!-- TRANSPARENCIA -->


        <div>


            <h3
            class="
            font-bold
            text-lg
            mb-4
            "
            >

                Transparencia

            </h3>



            <ul
            class="
            space-y-2
            text-sm
            "
            >


                <li>

                    <a class="hover:text-green-300">

                        POA

                    </a>

                </li>



                <li>

                    <a class="hover:text-green-300">

                        PTDI

                    </a>

                </li>



                <li>

                    <a class="hover:text-green-300">

                        Rendición Pública

                    </a>

                </li>



                <li>

                    <a
                    routerLink="/gaceta"
                    class="hover:text-green-300"
                    >

                        Gaceta Municipal

                    </a>

                </li>



            </ul>


        </div>









        <!-- CONTACTO -->


        <div>


            <h3
            class="
            font-bold
            text-lg
            mb-4
            "
            >

                Contacto

            </h3>



            <ul
            class="
            space-y-3
            text-sm
            "
            >


                <li>

                    📍 Municipio de Ckochas

                </li>



                <li>

                    📞 70334849 - 67863117

                </li>




                <li>

                    ✉ gamckochas1539@gmail.com

                </li>




                <li>

                    🕒 Lunes - Viernes
                    08:00 - 18:00

                </li>



            </ul>





        </div>





        </div>


    </div>









    <!-- REDES / COPYRIGHT -->


    <div
    class="
    border-t
    border-white/20
    "
    >


        <div
        class="
        container
        mx-auto
        px-4
        py-5

        flex
        flex-col
        md:flex-row

        justify-between

        items-center

        gap-4

        text-sm
        "
        >




            <p class="text-white/70">


                © {{year}}
                Gobierno Autónomo Municipal de Ckochas.
                Todos los derechos reservados.


            </p>





            <div
            class="
            flex
            gap-4
            "
            >


                <a
                class="hover:text-green-300"
                >

                    Facebook

                </a>



                <a
                class="hover:text-green-300"
                >

                    Instagram

                </a>



                <a
                class="hover:text-green-300"
                >

                    YouTube

                </a>



            </div>





        </div>


    </div>





</footer>
