<div routerLink="/" class="btn btn-ghost h-16 flex items-center gap-3 px-4 border-b border-base-300">

  
    <div class="shrink-0">

        <img src="assets/images/logo.png" alt="Logo" class="w-12 h-12 object-contain" />

    </div>

  
    <div class="flex flex-col leading-tight">

        <h1 class="text-2xl font-black p-0 m-0">
            SIGEG<span class="text-primary"> | GAM</span>
        </h1>

        <span class="text-2xl font-semibold text-secondary opacity-70 p-0 m-0">
            Ckochas
        </span>

    </div>

</div>

<!-- <div routerLink="/" class="btn btn-ghost h-16 flex items-center gap-3 px-4 border-b border-base-300">

   
    <div class="shrink-0">

        <img src="assets/images/otro.png" alt="Logo" class="w-12 h-12 object-contain" />

    </div>

    
    <div class="flex flex-col leading-tight">

        <h1 class="text-2xl font-black p-0 m-0">
            -<span class="text-primary"> | GAM</span>
        </h1>

        <span class="text-2xl font-semibold text-secondary opacity-70 p-0 m-0">
            Betanzos
        </span>

    </div>

</div> -->