:host {
  display: block;
  height: 100vh;
}

.drawer-side::-webkit-scrollbar {
  width: 4px;
}

.drawer-side::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, .3);
  border-radius: 20px;
}