
<header class="bg-green-600 shadow-md">


    <div class="container mx-auto h-18 flex items-center justify-between px-4">



        <!-- BOTON MOBILE -->

        <button class="lg:hidden text-3xl text-gray-600" (click)="menuMobile = !menuMobile">

            @if(menuMobile){

            ✖

            }
            @else {

            ☰

            }

        </button>





        <!-- LOGO -->

        <a routerLink="/" class="flex items-center gap-3">


            <img src="assets/images/logo.png" class="w-14 h-14" />


            <div class="hidden sm:block">


                <h1 class="font-bold  leading-none">

                    Gobierno Autónomo Municipal

                </h1>


                <h1 class="text-lg font-bold leading-none pt-2">

                    Ckochas

                </h1>


            </div>


        </a>





        <!-- MENU DESKTOP -->

        <nav class="hidden lg:flex">


            <ul class="flex items-center gap-2">



                <li>

                    <a routerLink="/" class="px-4 py-2 hover:text-primary">

                        Inicio

                    </a>

                </li>





                <!-- MUNICIPIO -->


                <li class="relative group">


                    <button
                        class="px-4 py-2 flex items-center gap-1 hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">

                        Municipio

                        <span>
                            ▼
                        </span>

                    </button>



                    <ul class="
                    absolute
                    top-full
                    left-0
                    mt-2
                    w-60

                    bg-green-900
                    shadow-xl
                    rounded-box

                    p-2

                    opacity-0
                    invisible
                    translate-y-2

                    group-hover:opacity-100
                    group-hover:visible
                    group-hover:translate-y-0

                    transition-all
                    duration-200

                    z-50
                    ">


                        <li>
                            <a routerLink="/historia" routerLinkActive=" active bg-green-700 border rounded-box border-green-500 underline"
                                class="hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                                Historia
                            </a>
                        </li>


                        <li>
                            <a routerLink="/mision-vision" routerLinkActive=" active bg-green-700 border rounded-box border-green-500 underline"
                                class="hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                                Misión, Visión y Valores
                            </a>
                        </li>


                        <li>
                            <a routerLink="/alcade" routerLinkActive=" active bg-green-700 border rounded-box border-green-500 underline"
                                class="hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                                Alcalde
                            </a>
                        </li>

                        <li>
                            <a routerLink="/concejo-municipal" routerLinkActive=" active bg-green-700 border rounded-box border-green-500 underline"
                                class="hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                                Concejo Municipal
                            </a>
                        </li>


                        <li>
                            <a routerLink="/organigrama" routerLinkActive=" active bg-green-700 border rounded-box border-green-500 underline"
                                class="hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                                Organigrama
                            </a>
                        </li>


                    </ul>


                </li>






                <!-- TRANSPARENCIA -->


                <li class="relative group">


                    <button
                        class="px-4 py-2 flex items-center gap-1 hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">

                        Transparencia

                        <span>
                            ▼
                        </span>

                    </button>




                    <ul class="
                    absolute
                    top-full
                    left-0
                    mt-2

                    w-60

                    bg-green-900
                    shadow-xl
                    rounded-box

                    p-2


                    opacity-0
                    invisible

                    translate-y-2

                    group-hover:opacity-100
                    group-hover:visible
                    group-hover:translate-y-0


                    transition-all
                    duration-200

                    z-50

                    ">


                        <li
                            class="hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                            <a>POA</a></li>

                        <li
                            class="hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                            <a>PTDI</a></li>

                        <li
                            class="hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                            <a>PEI</a></li>

                        <li
                            class="hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                            <a>Rendición Pública</a></li>

                        <li
                            class="hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                            <a>Auditorías</a></li>


                    </ul>



                </li>





                <li routerLink="/gaceta" routerLinkActive=" active bg-green-700 border rounded-box border-green-500 underline">
                    <a
                        class="px-4 py-2 hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                        Gaceta Municipal
                    </a>
                </li>



                <!--    <li>
                    <a class="px-4 py-2 hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                        Turismo
                    </a>
                </li>



                <li>
                    <a class="px-4 py-2 *:hover:border rounded-box border-green-500  hover:bg-green-700   hover:underline cursor-pointer">
                        Contacto
                    </a>
                </li>
 -->


            </ul>



        </nav>







        <!-- DERECHA -->


        <div class="flex items-center gap-2">


            <!--  <button
            class="hidden sm:block btn btn-ghost btn-circle"
            >

                🔍

            </button> -->

            <a routerLink="/auth/login" class="
            btn
            btn-accent
            btn-sm
            lg:btn-md
            p-1
            ">

                Oficina Virtual
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                        d="M16.5 3.75a1.5 1.5 0 0 1 1.5 1.5v13.5a1.5 1.5 0 0 1-1.5 1.5h-6a1.5 1.5 0 0 1-1.5-1.5V15a.75.75 0 0 0-1.5 0v3.75a3 3 0 0 0 3 3h6a3 3 0 0 0 3-3V5.25a3 3 0 0 0-3-3h-6a3 3 0 0 0-3 3V9A.75.75 0 1 0 9 9V5.25a1.5 1.5 0 0 1 1.5-1.5h6Zm-5.03 4.72a.75.75 0 0 0 0 1.06l1.72 1.72H2.25a.75.75 0 0 0 0 1.5h10.94l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 0 0-1.06 0Z"
                        clip-rule="evenodd" />
                </svg>

            </a>
        </div>
    </div>
</header>

<!-- =========================
     MENU MOBILE
========================= -->


@if(menuMobile){


<section class="lg:hidden bg-green-600 ">
    <ul>
        <li class="border-b border-gray-300">
            <a routerLink="/" class="block px-6 py-2 text-lg" (click)="cerrarMenuMobile()">
                Inicio
            </a>
        </li>

        <!-- INSTITUCIONAL -->

        <li class="border-b border-gray-300">


            <button class="w-full flex justify-between px-6 py-2 text-lg" (click)="institucional=!institucional">


                <span>
                    Institucional
                </span>


                <span>
                    ⌄
                </span>


            </button>
            @if(institucional){


            <ul class="bg-green-900">


                <li routerLink="/historia" class="border-t px-10 py-2" (click)="cerrarMenuMobile()">
                    Historia
                </li>


                <li routerLink="/mision-vision" class="border-t px-10 py-2" (click)="cerrarMenuMobile()">
                    Misión, Visión y Valores
                </li>


                <li routerLink="/alcade" class="border-t px-10 py-2" (click)="cerrarMenuMobile()">
                    Alcalde
                </li>

                <li routerLink="/concejo-municipal" class="border-t px-10 py-2" (click)="cerrarMenuMobile()">
                    Consejo Municipal
                </li>


                <li routerLink="/organigrama" class="border-t px-10 py-2" (click)="cerrarMenuMobile()">
                    Organigrama
                </li>

            </ul>

            }

        </li>

        <!-- Transparencia -->

         <li class="border-b border-gray-300">


            <button class="w-full flex justify-between px-6 py-2 text-lg" (click)="transparencia=!transparencia">


                <span>
                    Transparencia
                </span>


                <span>
                    ⌄
                </span>


            </button>

            @if(transparencia){


            <ul class="bg-green-900">


                <li class="border-t px-10 py-2" (click)="cerrarMenuMobile()">
                    POA
                </li>


                <li class="border-t px-10 py-2" (click)="cerrarMenuMobile()">
                    PTDI
                </li>


                <li class="border-t px-10 py-2" (click)="cerrarMenuMobile()">
                    PEI
                </li>


                <li class="border-t px-10 py-2" (click)="cerrarMenuMobile()">
                    Rendición Pública
                </li>


                <li class="border-t px-10 py-2" (click)="cerrarMenuMobile()">
                    Auditorías
                </li>

            </ul>

            }

        </li>
        
        <li routerLink="/gaceta" class="border-b border-gray-300" (click)="cerrarMenuMobile()">


            <div class="px-6 py-2 text-lg">

                Gaceta Municipal

            </div>
        </li>
    </ul>
</section>
}