
<section
class="hero min-h-175"
style="background-image:url('assets/images/hero/ckochas.jpg')">

    <div class="hero-overlay bg-black/50"></div>

    <div class="hero-content text-center text-white">

        <div class="max-w-3xl">

            <h1 class="text-6xl font-black">

                Gobierno Autónomo Municipal
                de Ckochas

            </h1>

            <p class="text-xl mt-8">

                Portal Web Institucional

            </p>

            <p class="mt-8 text-lg">

                Comprometidos con el desarrollo,
                la transparencia y el bienestar
                de nuestra población.

            </p>

            <div class="mt-10 flex justify-center gap-4">

                <button class="btn btn-primary">

                    Conocer el Municipio

                </button>

                <button class="btn btn-outline btn-white">

                    Trámites

                </button>

            </div>

        </div>

    </div>

</section>
