<div class="bg-green-800 text-white">


    <div
    class="
    container
    mx-auto
    px-4

    min-h-10

    flex
    flex-wrap

    justify-center
    items-center

    gap-x-5
    gap-y-2

    text-xs
    sm:text-sm

    py-2
    "
    >



        <!-- CONTACTO -->

        <span>
            📞 70334849 - 67863117
        </span>



        <a
        href="mailto:gamckochas1539@gmail.com"
        class="hover:underline"
        >

            ✉ gamckochas1539@gmail.com

        </a>




        <span>
            🕒 Lun - Vie 08:00 - 18:00
        </span>





        <!-- REDES -->

        <div class="flex gap-3">


            <a class="hover:underline cursor-pointer">
                Facebook
            </a>


            <a class="hover:underline cursor-pointer">
                Instagram
            </a>


            <a class="hover:underline cursor-pointer">
                YouTube
            </a>


        </div>



    </div>


</div>