
<header
  class="fixed top-0 left-0 right-0 z-50 backdrop-blur-md bg-white/80 border-b border-base-300">

  <div class="navbar max-w-7xl mx-auto">

    

    <div class="navbar-start">

      <img
        src="assets/images/logogamb.png"
        class="h-12 w-auto">

      <div class="ml-3">

        <h1 class="font-bold text-green-800">

          Gobierno Autónomo Municipal de Betanzos

        </h1>

        <p class="text-xs opacity-80">

          Gobierno Electrónico - Versión 3.0

        </p>

      </div>

    </div>

    <div class="navbar-end gap-2">

      <button class="btn btn-ghost">

        Inicio

      </button>

      <button class="btn btn-ghost">

        Contacto

      </button>

      <button routerLink="/auth/login" class="btn btn-success">

        Ingresar

      </button>

    </div>

  </div>

</header>
